

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #585a61;
}

a {
  color: #5777ba;
  text-decoration: none;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background:#0a182a;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background:#179cbd;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s; 
  transition: all 0.5s;
  padding: 15px 0;
  background: #203216;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo .logo-img {
  margin: 0;
  height: 160px;
}

#header .logo .beneficios {
  margin-top: 60px;
  margin-left: 20px;  
}

#hero .beneficiosMobile {
  display: none;
}

#header .logo2 img {
  margin-top: 40px;  
  width: 200px; 
}

#header .logo2 .telephone {
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 500;
  color: white;
  letter-spacing: 6px
}

#header .logo2 .telephone2 {
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 500;
  color: #9df56d;
}

@media (max-width: 768px) {
  #header .logo .beneficios {
    display: none;
  }

  #hero .beneficiosMobile {
    display: block;
  }

  #header .logo .logo-img {
    margin: 0;
    height: 160px;
  }  

  #header .logo2 .asesoramiento-img {
    margin: 0;
    margin-bottom: -10px;  
    width: 140px;    
  }

  #header .logo img {
    margin: 0;
    max-height: 90px;
  }

  #header .logo2 .telephone {
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;    
  }  

  #header .logo2 .telephone {
    font-size: 27px !important; /* Ajusta el tamaño según sea necesario */
  }

  #header .logo2 .telephone2 {
    font-size: 27px !important; /* Ajusta el tamaño según sea necesario */
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px 0 10px 0;
}

#hero::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0%;
  width: 250%;
  height: 200%;
  z-index: -1;
  background: linear-gradient(to bottom, 
              #203216 0%,    
              #203216 20%,
              #4f7c37 35%,  
              #4f7c37 100%   
  );
  transform: skewY(180deg);
}

#hero .heroTitle{
  margin: 5px 0px 5px 0px;
}

#hero h1 {  
  font-size: 40px;  
  line-height: 56px;
  color: #ffff;
  font-family: "Montserrat", sans-serif;
}

#hero h1 span {  
  font-size: 40px;  
  line-height: 56px;
  color: #9df56d;
  font-family: "Montserrat", sans-serif;
}

#hero h2 {
  color: #9df56d; 
  margin-bottom: 50px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

#hero h2 span {
  color: #ffff;  
}

#hero h3{
  color: #ffff;
  font-size: 20px;
  margin-left: 15px; 
}

#hero .mailIcon{
  width: 50px;
}

#hero .collageImg {
  width: 95%;
  margin-top: 10px;
}

#hero .btn-link {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 19px;
  display: inline-block;
  padding: 10px 24px 10px 24px;
  border-radius: 7px;
  transition: 0.5s;
  color: #000000;
  background: #ffcc00;
  position: relative;
  text-decoration: none;
}

#hero .btn-link:hover {
  background: #c9a513;
}


#hero .btn-link+.btn-link {
  margin-left: 20px;
}

@media (max-width: 991px) {
  #hero h1 {  
    font-size: 20px;  
    line-height: 40px;
    color: #ffff;
    font-family: "Montserrat", sans-serif;
  }
  
  #hero h1 span {  
    font-size: 20px;  
    line-height: 40px;
    color: #9df56d;
    font-family: "Montserrat", sans-serif;
  }

  #hero .collageImg {
    width: 95%;
    margin-top: 0px;
  }
  
  #hero {
    text-align: left;
  }

  #hero .heroTitle{
    margin: 0px 0px 20px 20px;
  }

  #hero .btn-link+.btn-link {
    margin: 0 10px;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero h3{
    color: #ffff;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 12px; 
  }
  
  #hero .mailIcon{
    width: 75px;
  }

  #hero .btn-link {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    padding: 10px 24px 10px 24px;
    border-radius: 7px;
    transition: 0.5s;
    color: #000000;
    background: #ffcc00;
    position: relative;
    text-decoration: none;
  }

}

@media (max-width: 768px) {
  #hero {
    background: linear-gradient(to bottom, 
              #203216 11%,    
              #203216 15%,
              #4f7c37 30%,  
              #4f7c37 100%   
  );  
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 10px 0 10px 0;  

  }  
  
}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding-top: 60px;  
  overflow: hidden;  
}

.section-bg {
  background-color: #f2f5fa;
}

.section-title h2 {
  font-size: 42px;    
  color: #7c7c7c;
  font-family: "Montserrat", sans-serif;
}

.section-title span {
  font-size: 42px;
  font-weight: bold;     
  color: #517c37;
  font-family: "Montserrat", sans-serif;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-title-2 h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #ffff;
  font-family: "Montserrat", sans-serif;
}

.section-title-2 h2 span {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #ffcc00;
  font-family: "Montserrat", sans-serif;
}

.section-title-2 h2 .underline {
  color: #ffff;
  text-decoration: underline;
  text-decoration-thickness: 2px; 
  text-underline-offset: 4px;
}

.section-title-2 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 30px;  
}

#features{
  background: linear-gradient(to bottom,
  #cccccc 0%,     
  #cccccc 0%,
  #ffffff 10%,  
  #ffffff 100%    
);
}

.divider {
  width: 100%;
  height: 1.7px;
  background: linear-gradient(to right, rgba(89, 156, 175, 0), #6fb649 , rgba(89, 156, 175, 0));
  position: relative;
  margin: 30px 0;
}

.divider::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 100px;
  background: linear-gradient(to right, rgba(89, 156, 175, 0), rgba(89, 156, 175, 0), rgba(89, 156, 175, 0));
}

#features img{
  margin-bottom: 30px;
}
 
#features .specs h4 {  
  margin-bottom: 10px;
  padding-bottom: 0;
  color: #82c100;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

#features .specs p {
  margin-bottom: 10px; 
  color: #575757;  
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 17px;
}

#features .btn-link {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  padding: 10px 45px 10px 45px;
  border-radius: 7px;
  transition: 0.5s;
  color: #fff;
  background: #82c100;
  position: relative;
  text-decoration: none;
}

#features .btn-link:hover {
  background: #608e05;  
}

#features .btn-container{
  height: 150px;  
}


@media (max-width: 767.98px) {
  #features .icon-box{
    margin-top: -30px;
    margin-bottom: -40px;
  }

  #features img{
    margin-bottom: 10px;
  }
   
  #features .specs h4 {  
    margin-bottom: 5px;
    padding-bottom: 0;
    color: #82c100;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
  }
  
  #features .specs p {
    margin-bottom: 3px; 
    color: #575757;  
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-size: 17px;
  } 
  

  #features{
    background: linear-gradient(to bottom,
    #cccccc 0%,     
    #cccccc 0%,
    #ffffff 5%,  
    #ffffff 100%    
  );
  }

  section {    
    padding-top: 10px;
    height: fit-content;    
    overflow: hidden;  
  }

  .section-title h2 {
    font-size: 27px;    
    color: #7c7c7c;
    font-family: "Montserrat", sans-serif;
  }
  
  .section-title span {
    font-size: 27px;
    font-weight: bold;     
    color: #517c37;
    font-family: "Montserrat", sans-serif;
  }  
}

/*--------------------------------------------------------------
# Testimony Section
--------------------------------------------------------------*/
#testimony {
  width: 100%;
  position: relative;
  overflow: hidden; 
  padding: 50px 0 30px 0;
  background: linear-gradient(to bottom,
  #cccccc 0%,     
  #cccccc 0%,
  #ffffff 5%,  
  #ffffff 100%    
);
}

#testimony h2 {
  color: #5b5b5b;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

#testimony h2 span {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #517c37;
  font-family: "Montserrat", sans-serif;
}

#testimony h5{
  font-family: "Montserrat";
  font-size: 22px;
  color: #82c100;}



#testimony p{
  padding-top: 5px;
  margin-bottom: 25px;
  padding-bottom: 0;
  color: #6e6e6e;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

#testimony .btn-link {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  padding: 10px 45px 10px 45px;
  border-radius: 7px;
  transition: 0.5s;
  color: #fff;
  background: #82c100;
  position: relative;
  text-decoration: none;
}

#testimony .btn-link:hover {
  background: #608e05;  
}

#testimony .btn-container{
  height: 150px;  
}


@media (max-width: 991px) {
  #testimony .btn-container{
    height: 150px;
    margin-top: -20px;
    margin-bottom: -60px;  
  }

  #testimony {
    width: 100%;
    position: relative;
    overflow: hidden; 
    padding: 50px 0 30px 0;
    background: linear-gradient(to bottom,
    #cccccc 0%,     
    #cccccc 0%,
    #ffffff 5%,  
    #ffffff 100%    
  );
  }

  #testimony h2 {
    color: #5b5b5b;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
  }
  
  #testimony h2 span {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #517c37;
    font-family: "Montserrat", sans-serif;
  }

  #testimony h5{
    margin-bottom: -2px;
  }

  #testimony
 {
    text-align: left;
  }

  #testimony
 .btn-link+.btn-link {
    margin: 0 0px;
  }

  #testimony
 .testimony
-img {
    text-align: left;
  }

  #testimony
 .testimony
-img img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  
  #testimony
 .testimony
-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #testimony
 .testimony
-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 4px;
  padding: 50px 0 100px 0;
  background: linear-gradient(to bottom, 
              #203216 0%,    
              #203216 5%,
              #4f7c37 17%,  
              #4f7c37 100%   
  );
}

#contact h2 {
  text-align: center;
  font-size: 42px;
  font-family: "Montserrat";
  color: #ffff;
}

#contact h2 .hablemos {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  font-family: "Montserrat";
  color: #f3ca30;
}

#contact h2 span {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  font-family: "Montserrat";
  color: #9cf36e;
}


#contact p {
  color: #ffff;
  text-align: left;
  font-size: 20px;
  font-family: "Montserrat";  
}

#contact .reduce-space {
  margin-bottom: 0px; 
}

#contact span {
  color: #9cf36e;
  font-size: 20px;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #ffff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form label {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
  color: #fff;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #5777ba;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}


@media (max-width: 1024px) {
  .contact .php-email-form {
    padding: 30px 15px 15px 15px;
  }
}

@media (max-width: 768px) {
  #contact h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat";
    color: #ffff;
  }
  
  #contact h2 .hablemos {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: "Montserrat";
    color: #f3ca30;
  }
  
  #contact h2 span {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: "Montserrat";
    color: #9cf36e;
  }

  .contact .php-email-form {
    padding: 15px 0 0 0;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#contact .btn-link {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 19px;
  display: inline-block;
  padding: 10px 100px 10px 100px;
  border-radius: 7px;
  transition: 0.5s;
  background: #ffcc00;
  position: relative;
  text-decoration: none;
  border: none; 
  box-shadow: none; 
}

#contact .btn-link:hover {
  background: #c9a513;
  color: #000000;
  border: none; 
  box-shadow: none; 
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {    
  font-size: 15px;
  background:#4f7c37
}

#footer .copyright {  
  color:#9cf36e;
  font-size: 20px;  
}

.whatsapp-button {
  position: fixed;
  bottom: 12px;
  right: 70px;
  z-index: 1000;
  display: none;
  animation: bounce 2s infinite; 
}

.whatsapp-button img {
  width: 60px;
  height: 60px;
  transition: all 0.4s;
}

.whatsapp-button img:hover {
  width: 70px;
  height: 70px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
